#page-app {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#page-app aside {
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    width: 440px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-app aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-app aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-app aside footer {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

#page-app aside footer strong {
    font-weight: 800;
}

#page-app .leaflet-container {
    z-index: 5;
}

#page-app .create-orphanage {
    position: absolute;
    z-index: 10;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    background: #12C3D6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
}

#page-app .create-orphanage:hover {
    background: #17D6EB;
}

#page-app .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-app .map-popup .leaflet-popup-content {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #0089A5;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-app .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #15C3D6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

#page-app .map-popup .leaflet-popup-tip-container {
    display: none;
}